{% extends "base.html" %}

{% block body %}
<div class="jumbotron">

    <h1>About</h1>

<div class="well" id="bandaid">
  <div class="container">

  <h3>Our Family History</h3>
      <p>Roger and Kathy Hopper founded Mid-America Vulcanizing, Inc. in 1993. Prior to that time, Roger worked in the conveyor field service for 12 years and Kathy worked in an office management position for 13 years. Together, their conveyor field service and business management experience has contributed to the development of the company.
  <p>Mid-America Vulcanizing is a family owned and operated company. Roger is joined by their son, Jeff in the field service and Kathy is joined by their daughter Kim in the office.</p>
  <p>Since 1993, Mid-America has grown to service an area which includes, Missouri, Illinois, Iowa, Nebraska, Kansas and several other states. Our customers are able to contact us on a 24 hours, 7 days a week basis.
</p>
</div>
<div class="container">
  <h3>Our beliefs</h3>
  <p>To better serve our customers, Mid-America Vulcanizing opened a sales department in 2001. This department is able to handle our customers need for belting and all conveyor components.
	Mid-America Vulcanizing, Inc. takes pride in serving industry with quality.
</p>
<center><h4>"Mid-America Vulcanizing, Inc. takes pride in serving industry with quality."</h4>
</center>
</div>
<div class="container">
<h3>Our Certifications</h3>
  <p>
    We are certified in:
    <em><b>
      MSHA Training,
      Part 46,  Part 48A, Part 48B,
      First Aid,
      OSHA 10,
      Forklift,
      Man lift,
      Rigging<em></b>.
  </p>

</div>
</div>
</div>
{% endblock %}
