{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <center>
      <h2>We take pride in serving the Industry with quality.<h2>
    <em><h3>Mid-America Vulcanizing, Inc. takes pride in “Serving the Industry with Quality”. <br>Years of combined experience gives our company the ability to offer our customers the highest quality of service in the industry. We have the capability to meet your conveyor needs from beginning to end. <br>  Our company is available 24 hours a day, 7 days a week.
</h3></em>
</center>
  </div>
  <div id="banner">
    <center><h4 class="smooth">Our Partners</h4></center>
      <!-- Each image is 350px by 233px -->
      <div class="photobanner">
       <a href="http://www.rematiptop.com/"><img class="first" src="{% static '/static/images/rtt-logo.png'%}" alt="" /></a>
       <a href="http://www.continentalconveyor.ca/"><img src="{% static '/static/images/ccc-logo.png'%}"  alt="" /></a>
       <a href="http://www.asgco.com/"><img src="{% static '/static/images/as-logo.png'%}" alt="" /></a>
       <a href="http://www.rematiptop.com/"><img src="{% static '/static/images/rtt-logo.png'%}" alt="" /></a>
       <a href="http://www.continentalconveyor.ca/"><img src="{% static '/static/images/ccc-logo.png'%}" alt="" /></a>
       <a href="http://www.asgco.com/"><img src="{% static '/static/images/as-logo.png'%}" alt="" /></a>
       <a href="http://www.rematiptop.com/"><img src="{% static '/static/images/rtt-logo.png'%}" alt="" /></a>
       <a href="http://www.continentalconveyor.ca/"><img src="{% static '/static/images/ccc-logo.png'%}" alt="" /></a>
       <a href="http://www.asgco.com/"><img src="{% static '/static/images/as-logo.png'%}" alt="" /></a>
      </div>
  </div>
</div>

{% endblock %}
