{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
    <h1>Services</h1>
    <div class="well">
      <div class="container">
  <div class="row">
    <hr>
    <div class="col-lg-3">
      <h3>Vulcanized Splice</h2>
    </div>
    <div class="col-lg-3">
      <h3>Finger splicing</h3>
    </div>
    <div class="col-lg-3">
      <h3>Mechanical Splicing</h3>

    </div>
    <div class="col-lg-3">
      <h3>Conveyor surveys</h3>
    </div>
        <br><hr>
    <div class="col-lg-3">
      <h3>On-Site Pulley relag</h3>
    </div>
    <div class="col-lg-3">
      <h3>In-House Pulley relag</h3>
    </div>
    <div class="col-lg-3">
      <h3>Chute lining</h3>
    </div>
    <div class="col-lg-3">
      <h3> 3DEM Chute Design</h3>
    </div>
        <br><hr>
    <div class="col-lg-3">
      <h3>Belt Install</h3>
    </div>
    <div class="col-lg-3">
      <h3>Belt winding</h3>
    </div>
    <div class="col-lg-3">
      <h3>Belt tracking</h3>
    </div>
    <div class="col-lg-3">
      <h3> Laser Alignment </h3>
    </div>
    <br><hr>
    <div class="col-lg-3">
      <h3>Repairs</h3>
    </div>
    <div class="col-lg-3">
      <h3>Cold Repairs</h3>
    </div>
    <div class="col-lg-3">
      <h3>Turn-key change outs</h3>
    </div>
    <br><hr>
</div>
</div>
    </div>

<div id="reel">
    <!-- Each image is 350px by 233px -->
    <div class="photoreel">
     <img class="first" src="{% static '/static/images/Picture-1.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-2.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-3.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-4.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-5.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-6.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-7.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-8.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-1.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-2.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-3.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-4.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-5.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-6.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-7.png' %}" alt="" />
     <img src="{% static '/static/images/Picture-8.png' %}" alt="" />
    </div>
</div>

</div>{% endblock %}
